# Node modules & build artifacts
node_modules
dist
build
coverage

# Ignore scripts
scripts/*

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# .nvmrc
.nvmrc

# Environment files (don't bake secrets into image)
env/
.env
.env.*

# OS / IDE files
.DS_Store
Thumbs.db
.vscode
.idea

# Git files
.git
.gitignore

# Docker-related files
docker/
Dockerfile*
docker-compose*.yml
compose*.yaml

# Cache
*.tsbuildinfo
