# Bot Configs
BOT_TOKEN=Bot Token
BOT_FILE_UPLOAD_CHANNEL_ID=Channel ID
NODE_ENV=production
BOT_DEPLOYMENT_TYPE=LONG_POLLING
TZ=Asia/Kolkata
BOT_HEALTH_CHECK_PORT=3000


# External services configs
UPTIME_ROBOT_API_KEY="Uptime Robot API Key"
GROQ_API_KEY="Groq API Key"

# Log level
LOG_LEVEL=debug

# Redis Configs
REDIS_HOST="Redis Host"
REDIS_PORT="Redis Port"
REDIS_DB=0
REDIS_TLS_ENABLED=true
REDIS_PASSWORD="Redis Password"


# DB Configs
DATABASE_URI="Database URI"
DATABASE_HOST="Database Host"
DATABASE_USER="Database User"
DATABASE_PORT="Database Port"
DATABASE_NAME="Database Name"
DATABASE_PASSWORD="Database Password"
DATABASE_CA_CERTIFICATE="CA Certificate as string"
PGSSLMODE=verify-full


# Services Configs:
# Broadcasts worker
BROADCASTS_WORKER_HEALTHCHECK_PORT=3002


# Announcements notify worker
ANNOUNCEMENTS_NOTIFY_WORKER_HEALTHCHECK_PORT=3001
ANNOUNCEMENTS_NOTIFY_WORKER_CRON_SCHEDULE="*/1 * * * *"

# Data sync worker
DATA_SYNC_WORKER_HEALTHCHECK_PORT=3003
DATA_SYNC_WORKER_SYNC_SCHEDULE="*/30 * * * *"

# Bull Board Service
BULL_BOARD_PORT=3010