dist/
dev-start.sh

# Dependencies
/node_modules

# Certs
/certs

# Build output
/dist
/build
/coverage

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Git leaks stuff
gitleaks-report.json

# Env files
.env
.env.dev*
.env.staging
!.env.dev.example
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# Misc
*.swp
*.swo
