# For development mode

BOT_TOKEN="Your bot token goes here :)"
FIREBASE_SERVICE_ACCOUNT="base64 encoded serviceAccountKey.json string"
FIREBASE_STORAGE_BUCKET="Firebase storage bucket"
ENV_TYPE="DEVELOPMENT"
HUGGING_FACE_TOKEN="Your hugging face token"
UPTIME_ROBOT_API_KEY="Uptime robot API KEY"

# For production mode

BOT_TOKEN="Your bot token goes here :)"
FIREBASE_SERVICE_ACCOUNT="base64 encoded serviceAccountKey.json string"
FIREBASE_STORAGE_BUCKET="Firebase storage bucket"
ENV_TYPE="PRODUCTION"
HUGGING_FACE_TOKEN="Your hugging face token"
WEBHOOK_DOMAIN="Webhook domain"
WEBHOOK_PORT="Webhook port"
